* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}

.pagina {
    padding: 1vh;
    height: 100vh;
}

.lista-pokemon {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

#previous-button, #next-button {
    background-color: purple;
    border-radius: 1rem;
    color: white;
    border: none;
    padding: 20px;
}

.color-type-grass {
    background-color: green;
}

.color-type-fire {
    background-color: red;
}

.color-type-water {
    background-color: blue;
}

.color-type-normal {
    background-color: gray;
}

.color-type-bug {
    background-color: violet;
}

.color-type-electric {
    background-color: yellow;
}

.color-type-poison {
    background-color: purple;
}

.color-type-ground {
    background-color: brown;
}

.color-type-fairy {
    background-color: #12a97c;
}

.color-type-fighting {
    background-color: rgb(109, 43, 53);
}

.color-type-psychic {
    background-color: rgb(108, 107, 53);
}

.color-type-rock {
    background-color: rgb(98, 37, 9);
}

.color-type-ghost {
    background-color: rgb(115, 35, 158);
}

.lista-pokemon_itens {
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "b b "
        "d d "
        "d d "
        "c e "
        "a a ";
}

.numero-pokemon {
    grid-area: a;
    display: flex;
    justify-content: flex-end;
    margin: 1px;
    color: rgb(0, 0, 0);
    font-size: 4vh;
}

.nome-pokemon {
    grid-area: b;
    display: flex;
    margin: 1px;
    font-size: 4vh;
    font-weight: 700;
    justify-content: center;
    text-transform: capitalize;
}

.move-set1-pokemon,
.move-set2-pokemon {
    background-color: #07cddb;
    border-radius: 10px;
    padding: 10%;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 90%;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 500;
}

.move-set1-pokemon {
    grid-area: c;
}

.move-set2-pokemon {
    grid-area: e;
}

.imagem-pokemon {
    max-width: 100%;
    max-height: 200px;
    height: 100%;
    grid-area: d;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .pagina {
        max-width: 768px;
        margin: 0 auto;
    }

    .lista-pokemon {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pagina {
        max-width: 992px;
        margin: 0 auto;
    }
}