* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}

.pagina {
    padding: 1vh;
    height: 100vh;
}

.lista-pokemon {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-pokemon_itens {
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    background-color: rgb(37, 228, 221);
    color: white;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-areas:
        "a a "
        "b b "
        "c d "
        "e d ";
}

.numero-pokemon {
    grid-area: a;
    display: flex;
    justify-content: flex-end;
    margin: 1px;
    color: rgb(70, 71, 73);
    font-size: 2vh;
}

.nome-pokemon {
    grid-area: b;
    margin: 1px;
    font-size: 3vh;
}

.move-set1-pokemon {
    grid-area: c;
}

.move-set2-pokemon {
    grid-area: e;
}

.imagem-pokemon {
    max-width: 100%;
    height: 100%;
    grid-area: d;
    align-items: center;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

.move-set1-pokemon,
.move-set2-pokemon {
    background-color: #07cddb;
    border-radius: 10px;
    padding: 10%;
    margin: auto 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    font-size: 2vh;
}

@media screen and (min-width: 768px) {
    .pagina {
        max-width: 768px;
        margin: 0 auto;
    }

    .lista-pokemon {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pagina {
        max-width: 992px;
        margin: 0 auto;
    }
}